<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!-- <script type="text/javascript" src="..\node_modules\.2.1.3@vue\dist\vue.min.js"></script> -->
  <style type="text/css">
    *{
      margin: 0;
      padding: 0;
    }
    html, body{
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
<div id="map_container" style="width:100%;height:100%;"></div>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
        <!-- Webpack Dev Server reload -->
        <script src="/webpack-dev-server.js"></script>
        <% } %>

  <script type="text/javascript">
    // Define a new component called todo-item

  </script>
  <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
</body>
</html>